@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", "san-serif";
}

body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sort__id{
  min-width: 200px;
  margin-left: 10px;
}

.completed {
  text-decoration: line-through;
}

/* header */
.header {
  width: 100%;
  background-color: rgb(95, 160, 104);
  display: flex;
  justify-content: center;
  align-items: center;
}

.title__todo {
  padding: 15px 0;
  font-size: 1.5em;
  color: white;
}

/* addTodo */
.add__todo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.btn__add {
  margin-left: 10px;
}

.btn__delete {
  margin-left: 10px;
  min-width: 150px;
}

/* btn__list */
.todo {
  margin-top: 30px;
}
.todo__list {
  list-style: none;
}
.todo__list-wrapper {
  display: flex;
  margin-bottom: 10px;
}
.todo__list-item {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding: 0 0 0 5px;
  border: 1px solid black;
  width: 100%;
  border-radius: 2px;
  vertical-align: middle;
}
.btn__secondary {
  margin-left: 10px;
}
